body {
    background-color: #aaf7ff;
}

.movie-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 4px;
    
    
}

.movie-container{
    display: grid;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    min-height: 100vh;
    margin-top: 40px;
    
    
}
    