body {
    background-color: #aaf7ff;
}

img.poster_grid {
    width: 150px;
    margin-bottom: 5px;
}

img.cart_button {
    width: 20px;
    height: 20px;
    object-fit: scale-down;
    float: center;
}

img.cart_icon {
    width: 35px;
    height: 35px;
}

section.grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #e0fafc;
  border-radius: 5px;
  padding: 15px;
  margin: 5px;
}

section.header {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.movie_list_card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 1px 1px 0px 0px rgb(223, 223, 223);
}

div.movie_list_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8px;
}

span.movie_grid_title {
    font-weight: 600;
}

span.movie_grid_price {
    color: red;
    font-weight: 600;
}

button.buy_now {
    background-color: rgb(225, 225, 225);
    padding: 10px;
    margin-left: 2px;
    border: 0px;
    border-radius: 100px;
}
button.add_to_cart {
    background-color: rgb(225, 225, 225);
    padding: 10px;
    margin-right: 2px;
    border: 0px;
    border-radius: 100px;
}

#logo {
    font-family: Modak;
    font-weight: 300;
    font-size: 4rem;
}
.movie-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 4px;
    
    
}

.movie-container{
    display: grid;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    min-height: 100vh;
    margin-top: 40px;
    
    
}
    
