

body {
    background-color: #aaf7ff;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}

a:link {
  color: rgb(27, 27, 27);
}

a:visited {
  color: rgb(121, 121, 121);
}

a:hover {
  color: rgb(27, 27, 27);
}

a:active {
  color: rgb(0, 0, 0);
}

main > * {
    height: 100vh;
    overflow-y: auto;
}

img.poster_grid {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

img.cart_button {
    width: 20px;
    height: 20px;
    object-fit: scale-down;
    float: center;
}

img.cart_icon {
    width: 35px;
    height: 35px;
}

.arrow {
    width: 15px;
    height: 10px;
}

section.grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #e0fafc;
  border-radius: 5px;
  padding: 1rem;
  margin: 0.5rem;
}

section.header {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.movie_list_card {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  min-height: 25rem;
}

div.movie_card_details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

div.movie_list_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

span.movie_grid_title {
    font-weight: 600;
}

span.movie_grid_price {
    color: red;
    font-weight: 600;
}

.amount {
    color: grey;
    font-weight: 400;
}

.amount_hidden {
    display: none;
}

button.buy_now {
    background-color: rgb(225, 225, 225);
    padding: 10px;
    margin-left: 2px;
    border: 0px;
    border-radius: 100px;
}

button.remove {
    background-color: rgb(255, 107, 107);
    padding: 10px;
    margin-left: 2px;
    border: 0px;
    border-radius: 100px;
}

.button_hidden {
    padding: 10px;
    margin-left: 2px;
    border: 0px;
    border-radius: 100px;
    display: none;
}   

button.add_to_cart {
    background-color: rgb(225, 225, 225);
    padding: 10px;
    margin-right: 2px;
    border: 0px;
    border-radius: 100px;
}

.added {
    background-color: rgb(167, 255, 167);
    padding: 10px;
    margin-right: 2px;
    border: 0px;
    border-radius: 100px;
    pointer-events: none;
    opacity: 0.2;
}

.quantity {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.2rem;
}

#logo {
    font-family: Modak;
    font-weight: 300;
    font-size: 4rem;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 0.5rem;
}
    

.searchBar{
    display: grid;
    justify-content: center;
    
}

.search-input{
    width: 900px;
    padding: 40px 30px;
    border-radius: 12px;
    font-size: 30px;
}

