body {
    background-color: #aaf7ff;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}

a:link {
  color: rgb(27, 27, 27);
}

a:visited {
  color: rgb(121, 121, 121);
}

a:hover {
  color: rgb(27, 27, 27);
}

a:active {
  color: rgb(0, 0, 0);
}